.drawer-menu {
  /* 기존의 tailwind나 custom 클래스에서 설정된 스타일이 있을 수 있음 */
  /* 예: position, background, padding 등... */

  /* 프레임 드롭 완화를 위해 GPU 레이어 분리 */
  will-change: transform;
  transform: translateZ(0);
}

.hamburger {
  position: relative;
  display: inline-block;

  .input {
    position: absolute;
    opacity: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  
  .input {
    &:checked ~ .left-bar {
      transform: translateX(0px);
    }
    
    &:checked + svg .path1 {
      transform: translate(-7px, 6px) rotate(-45deg);
      stroke-dashoffset: 42;
      stroke-dasharray: 27;
    }
    
    &:checked + svg .path3 {
      transform: translate(-7px, -6px) rotate(45deg);
      stroke-dashoffset: 69;
      stroke-dasharray: 27;
    }
  }
  
  .hamburger-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    display: block;
    position: relative;
    stroke: #333;
    fill: transparent;
    z-index: 1;
  }
  
  .path1, .path2, .path3 {
    transform-origin: center;
    transition: transform 0.3s cubic-bezier(0.17, 1.63, 0.87, 1.14);
    stroke-width: 2.2px;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
}